.hideElement {
    display: none;
}

.showElement {
    display: block;
}

.disableElement {
    pointer-events: none;
}

#internetNotifs {
    width: 40px;
    height: 40px;
    background: linear-gradient(#f2f2f2, #e5eef3);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    line-height: 160%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
    font-size: 20pt;
    position: absolute;
    top: 90px;
    right: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

#internetNotifs:hover {
    -ms-transition-duration: 0.1s;
    -ms-transform: scale(1.1);
    -webkit-transition-duration: 0.1s;
    -webkit-transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.50);
}

#internetNotifs:active {
    -ms-transition-duration: 0.1s;
    -ms-transform: scale(0.95);
    -webkit-transition-duration: 0.1s;
    -webkit-transform: scale(0.95);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
}

.iNotifs {
    width: 55px;
    height: 55px;
    /*  background: linear-gradient(to bottom, #8dd4fd 0%, #5cbdf2 40%, #0599ef 100%); */
    border-radius: 50%;
    margin: -15px;
}

#iNotifs {
    width: 20px;
    height: 20px;
    background: #fd9a06;
    border-radius: 50%;
    margin: -45px 28px;
    text-align: center;
    line-height: 119%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    position: absolute;
}

#internetContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#internet {
    width: 956px;
    height: 700px;
    background: transparent;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#internet img {
  user-drag: none;
  user-select: none;
 -webkit-user-drag: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

.navBar {
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.justEmail {
    width: 35%;
}

.plusBug {
    width: 55%;
}

.plusSocial {
    width: 75%;
}

.plusXYZ {
    width: 100%;
}

#tabBar {
    width: 100%;
}

.tab {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    cursor: pointer;
    width: 15%;
    height: 20px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.tab:hover {
    width: 20%;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.tab:active {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.tabX {
    background: linear-gradient(to right, rgba(250, 113, 98, 1) 0%, rgba(247, 53, 53, 1) 100%);
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 18pt;
    width: 4%;
    transition: 0.1s ease-in-out;
}

.tabX:hover {
    width: 5%;
}

.tabX:active {
    background: linear-gradient(to right, rgba(255, 163, 153, 1) 0%, rgba(255, 125, 125, 1) 100%);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

#refresh {
    width: 3%;
    transition: 0.1s ease-in-out;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    cursor: pointer;
}

#refresh:hover {
    width: 5%;
}

#refresh:active {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.refresh {
    width: 30px;
    height: auto;
    position: absolute;
    margin: -13px 1px;
}


/* Content */

.content {
    width: 955px;
    height: 660px;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.50);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}


/*Email*/

.viewport {
    width: 730px;
    height: 660px;
    float: left;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.50);
}

.inNav {
    width: 100%;
    height: 35px;
    font-family: "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
}

.inNav td {
    padding: 7px;
    background: linear-gradient(to bottom, #ffffff 1%, #ffffff 26%, #ffffff 48%, #ffffff 58%, #f4f4f4 100%);
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
    text-align: center;
    cursor: pointer;
}

.inNav td:hover {
    font-weight: bold;
}

.inNew {
    width: 100%;
    height: 35px;
    line-height: 220%;
    font-family: "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
    background: linear-gradient(to bottom, #ffffff 1%, #ffffff 26%, #ffffff 48%, #ffffff 58%, #f4f4f4 100%);
    border: solid 1px #000000;
    text-align: center;
    cursor: pointer;
}

.emailMain {
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    padding-bottom: 5px;
}

.emailInfo {
    font-family: "Century Gothic";
    color: #808080;
}

.emailSubj {
    font-weight: bold;
    font-size: 18pt;
}

.emailENTRY {
    font-family: "Times New Roman", Times, serif;
    font-size: 13pt;
    color: #000000;
}

.emailOptions {
    width: 95%;
    height: 250px;
    padding: 5%;
    cellspacing: 5;
}

.emailOption {
    width: 50%;
    height: 50%;
    line-height: 220%;
    font-family: "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
    background: linear-gradient(to bottom, #ffffff 1%, #ffffff 26%, #ffffff 48%, #ffffff 58%, #f4f4f4 100%);
    border: solid 1px #000000;
    text-align: center;
    cursor: pointer;
    color: #000000;
}

.emailOption:hover {
    -ms-transition-duration: 0.2s;
    -ms-transform: scale(1.05);
    -webkit-transition-duration: 0.2s;
    -webkit-transform: scale(1.05);
}

.emailOption:active {
    -ms-transition-duration: 0.2s;
    -ms-transform: scale(0.95);
    -webkit-transition-duration: 0.2s;
    -webkit-transform: scale(0.95);
}

.trashEmail {
    margin: -40px 53px;
    color: #000000;
}

#trashTD {
    width: 562px;
    height: 50px;
    line-height: 220%;
    font-family: "Open Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 1px #000000;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, rgba(250, 113, 98, 1) 0%, rgba(247, 53, 53, 1) 100%);
    color: #000000;
}

#trashTD:hover {
    -ms-transition-duration: 0.1s;
    -ms-transform: scale(1.1);
    -webkit-transition-duration: 0.1s;
    -webkit-transform: scale(1.1);
}

#trashTD:active {
    -ms-transition-duration: 0.1s;
    -ms-transform: scale(1.05);
    -webkit-transition-duration: 0.1s;
    -webkit-transform: scale(1.05);
}


/*Overview*/

.overview {
    height: 660px;
    width: 225px;
    background: linear-gradient(to bottom, #ffffff 0%, #d9e8f1 100%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.50);
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
}

#notifs {
    padding: 5px 5px 0px 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14pt;
    cursor: default;
}

ul.priList {
    display: block;
    height: 600px;
    width: 100%;
    margin-left: -40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: scroll;
}

ul.priList li {
    min-height: 100px;
    width: 200px;
    background: linear-gradient(to bottom, #ffffff 0%, #d9e8f1 100%);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    list-style-position: inside;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    /* border-top: solid 1px #000000;
  border-bottom: solid 1px #000000; */
}

ul.priList li:active {
    background: linear-gradient(to right, rgba(252, 252, 252, 1) 0%, rgba(244, 244, 246, 1) 21%, rgba(233, 233, 237, 1) 49%, rgba(244, 245, 246, 1) 80%, rgba(252, 252, 252, 1) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.45);
}

.emailResponded {
    background: rgba(31, 31, 31, 0.1) !important;
}

.haveMSG {
    width: 20px;
    float: right;
    color: #FF4500;
    font-weight: bold;
    font-size: 18pt;
}

.haveMSGborder {
    border: solid 1px #FF4500;
}

.optionSelected {
    background: linear-gradient(to right, rgba(172, 215, 244, 1) 0%, rgba(25, 146, 221, 1) 100%);
    /*CHANGE THIS BACKGROUND*/
}

.optionActual {
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: 'Open Sans';
    font-size: 9pt;
}

.checkmark_Email {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
}

.rndPrItem .icon {
    margin-left: -32px;
    padding-bottom: 5px;
    width: 40px;
    height: 40px;
}

.rndPrItem #nameE {
    width: 100px;
    line-height: 200%;
    margin: -50px 0 0 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-family: "Century Gothic";
}

.rndPrItem #usernameE {
    width: 135px;
    line-height: 350%;
    margin: -18px 0 0 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 8pt;
    font-family: 'Open Sans', Arial, sans-serif;
}

.rndPrItem #subjectE {
    font-weight: bold;
    font-size: 11pt;
    font-family: 'Open Sans', Arial, sans-serif;
    color: grey;
    margin: -9px 10px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rndPrItem #messageE {
    margin-bottom: 100px;
    font-family: 'Open Sans', Arial, sans-serif;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 180px;
    height: 30px;
    /* Fallback for non-webkit */
    margin: 1px 0;
    padding: 0 10px;
    font-size: 8pt;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.iconE {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: solid 1px #000000;
    border-radius: 5px;
}

/*News Site*/
#newsSITE {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
}

#newsNavBar {
  width: 100%;
  height: 70px;
  background: #18191A;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  float: left;
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  position: relative;
}

#newsTabBar {
  height: 100%;
  width: 302px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
}

.newsTAB {
  width: 120px;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: 'Oswald';
  text-shadow: 1px 1px 5px #000000;
}

#newsBanner {
 width: 350px;
 font-family: 'Electrolize', sans-serif;
  font-size: 32pt;
 color: #00e6ac;
  cursor: default;
}

.info {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #00BA8C;
  -moz-transition: top 0.4s ease-in-out;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  left: 0;
  text-decoration: none;
}

.newsTAB:hover .info {
  top: 0;
  display: block;
}

.navText {
  position: absolute;
  right: 0;
  left: 0;
  line-height: 0%;
}

#gSpotImg {
  width: 85%;
  margin: 8%;
}

#gSpotButt {
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  float: left;
}

#newsGamesTab {
  float: left;
}

#newsPlatformsTab {
  float: right;
}

.newsTab {
  width: 178px;
  text-align: center;
  line-height: 320%;
  font-size: 16pt;
  font-family: 'Open Sans';
  cursor: pointer;
}

.newsTab:hover {
  font-weight: 700;
}

#newsContent {
  width: 100%;
  height: 590px;
  float: left;
  background-image: url("whiteTexturedBackground.png");
  background-repeat: no-repeat;
}

.newsPage {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.innerContentContainer {
  width: 700px;
  height: auto;
  margin: 35px auto;
}

#newsArticleSlideshow {
  width: 700px;
  height: 325px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(230,230,230,1) 47%,rgba(223,223,223,1) 100%);
}

.slideContents {
  width: 600px;
  position: absolute;
  top: -35%;
  margin-left: 50px;
}

.slideDetails {
  width: 670px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
}

.articleHeader {
  font-size: 20pt;
  font-family: 'Oswald';
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#articleText {
  width: 650px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans';
}

#newsArticleSlideshow ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 325px;
  list-style: none;
}

#newsArticleSlideshow ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  width: 700px;
  height: 325px;
  cursor: pointer;
  color: #ffffff;
}

.nextSlideBar {
  width: 700px;
  height: 6px;
  background: #18191A;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
}

#actualSlideBar {
  width: 0%;
  height: 100%;
  background: #ffffff;
}

.control_prev,
.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.control_prev:hover,
.control_next:hover {
  background-color: #000000;
}

.control_prev {
  border-radius: 0 2px 2px 0;
}

.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

#newsCateStoryBlock {
  width: 700px;
  height: 200px;
  margin-top: 15px;
}

.articleNewsBlock {
  width: 45%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(230,230,230,1) 47%,rgba(223,223,223,1) 100%);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#articleGameBlock {
  float: left;
}

#articlePlatformBlock {
  float: right;
}

.articleBlockImage {
  width: 100%;
  height: 100%;
}

.articleBlockDetails {
  width: 285px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
}

.newsArticleReading {
  width: 600px;
  min-height: 285px;
  background: white;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

#headerInArticle {
  width: 100%;
  font-size: 20pt;
  font-family: 'Oswald';
}

#dateInArticle {
  color: 	#787878 ;
  float: right;
  line-height: 290%;
  letter-spacing: 2px;
}

#imageForArticle {
  float: left;
  width: 200px;
  height: 200px;
  border: 2px solid #000000;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  margin: 0 20px 20px 0;
  padding: 5px;
}

.imageInArticle {
  max-width: 350px;
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  padding: 5px;
}

#textInArticle {
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.9em;
  font-size: 11pt;
  text-align: left;
  word-spacing: 3px;
}

#newsSideBar {
  background: lightgrey;
  width: 180px;
  height: auto;
  float: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#randomPageButt {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 320%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  font-family: "Lato", Arial, sans-serif;
  font-weight: 600;
}

.newsAD {
  width: 100%;
  height: 170px;
  margin-top: 20px;
  background: skyblue;
  cursor: default;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.articleListContainer {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(232,232,232,1) 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.articleListContainer hr {
  padding: 0px;
  margin: 0px;
}

.articlesList {
  width: 700px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.articlesList li {
  width: 100%;
  height: 150px;
  cursor: pointer !important;
  list-style-type: none;
  margin-top: 15px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  transition: 0.2s ease-in-out;
}

.articlesList li:hover {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.8);
}

.articlesList li:active {
  box-shadow: none;
}

.articlesList li:nth-child(1) {
  margin-top: 0 !important;
}

.articleListImage {
  width: 130px;
  height: 130px;
  border: 2px solid #000000;
  float: left;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.articleInfoBlock {
  width: 505px;
  height: 132px;
  margin-left: 20px;
  float: left;
}

.articleListText {
  display: block; /* Fallback for non-webkit */
  overflow: hidden;
  margin: 0;
  margin-top: 3px;
}

.articleListDate {
  font-family: 'Lato', Arial, sans-serif;
  color: #808080;
  float: right;
  letter-spacing: 1px;
}

/* Social (There are temporary backgrounds and placeholders at the moment) */

#socialSITE {
    width: 100%;
    height: 100%;
    background: #6d819c;
}

#socialNav {
    width: 100%;
    background: linear-gradient(to bottom, #ededed 0%, #dbdbdb 35%, #bababa 100%);
    height: 45px;
    float: left;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.flutterBanner {
    padding: 0px 30px;
    font-size: 28pt;
    font-weight: bold;
    float: left;
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 2px;
}

#navButts {
    float: right;
    margin: 0px 30px;
}

.butt {
    overflow: hidden;
    width: 45px;
    height: 45px;
    background: lightgrey;
    color: #000000;
    font-size: 8pt;
    text-align: center;
    float: left;
    margin: 0px 5px;
    cursor: pointer;
}

#socialContent {
    width: 100%;
    max-height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

#socialProfile {
    width: 100%;
    max-height: 100%;
    padding: 20px;
}

.profileInfo {
    width: 885px;
    height: 135px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    cursor: default;
}

.profilePic {
    width: 135px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    float: left;
}

.profileIdenity {
    float: left;
    max-width: 250px;
    height: 120px;
    margin: 10px 20px;
}

.profileName {
    font-size: 20pt;
    font-weight: bold;
    color: black;
    font-family: 'Century Gothic';
}

.profileUsername {
    font-size: 12pt;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 600;
}

.profileDesc {
    font-family: 'Open Sans';
    font-size: 11pt;
    background: transparent;
    border: none;
    overflow: hidden;
    box-shadow: none;
    resize: none;
    height: 60px;
}

.profileStats {
    width: 170px;
    height: 120px;
    float: left;
    margin: 10px 0px;
    line-height: 190%;
    font-size: 16pt;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 600;
}

.proifileStatsEntry {
    float: right;
}

.profileSOMETHING {
    width: 160px;
    height: 120px;
    float: left;
    margin: 10px 60px;
}


/* Flutter Stream */

.widget {
    width: 750px;
    min-height: 125px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
}

.widget-header {
    width: 100%;
    height: 30px;
    background-color: #fff;
    font-size: 0.8em;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #7f9eb2;
    box-shadow: 0 1px 0 rgba(50, 54, 70, 0.08);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.widget-conversation {
    width: 100%;
    height: 100%;
    padding: 12px 24px 12px 20px;
    position: relative;
    float: left;
    word-wrap: break-word;
}

#socialSITE ul {
    list-style: none;
}

li.flutterPost {
    position: relative;
    margin-left: -100px;
}

.message-text {
    max-height: 140px;
    width: 685px;
    padding: 12px;
    border-radius: 4px;
    background-color: #e7e9f2;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    color: #263959;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    overflow: hidden;
}

.messageTop {
    height: 60px;
    padding-bottom: 10px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    cursor: default;
}

.postPic {
    width: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    float: left;
}

.postInfo {
    margin: 7px 10px;
    max-width: 250px;
    height: 40px;
    float: left;
    line-height: 130%;
}

.postName {
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Lato';
}

#postDate {
  font-size: 10pt !important;
  font-weight: normal !important;
  letter-spacing: 1px;
}

.postUsername {
    font-family: 'Lato';
}

#postReception {
    float: right;
    font-family: 'Lato';
}

.postReceptionHeader {}

.likes {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #5df187 0%, #0cb83a 100%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    font-size: 10pt;
    line-height: 350%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    margin-right: 20px;
}

.dislikes {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #ff402b 0%, #ec0000 100%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
    font-size: 10pt;
    line-height: 350%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}

.messageBottom {
    max-height: 60px;
    font-family: 'Lato';
}

.widget-form {
    height: 60px;
    padding: 12px 20px;
    position: relative;
    background-color: #fff;
    border-top: 1px solid rgba(50, 54, 70, 0.08);
}

.postNewMSG {
  float: left;
  width: calc(100% - 10px);
  height: 60px;
  padding: 3px;
  background: linear-gradient(to right, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
  border: 1px solid #f4f5f9;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 24pt;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 170%;
}

#newMsgUI {
  background-color: rgba(0, 0, 0, 0.6);
  width: 956px;
  height: 660px;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#newMsgBulk {
   margin: 55px 175px;
}

#msgPreviewBulk {
  font-family: 'Open Sans';
  text-align: center;
}

#msgPreviewHeader {
  width: 250px;
  height: 40px;
  float: left;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  border-radius: 5px 5px 0px 0px;
  font-size: 16pt;
  text-align: center;
  cursor: default;
  font-weight: bold;
}

.msgIt {
  width: 155px;
  height: 30px;
  background: linear-gradient(to bottom, #5df187 0%,#0cb83a 100%);
  line-height: 180%;
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  float: left;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.msgIt:hover {
  width: 155px;
  height: 40px;
  line-height: 180%;
  border-radius: 3px 3px 0px 0px;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  float: left;
}

#msgPostIt {
  background: linear-gradient(to bottom, #5df187 0%,#0cb83a 100%);
}

#msgTrashIt {
  background: linear-gradient(to bottom, rgba(250,117,102,1) 0%,rgba(249,55,55,1) 100%);
}

#newMsgOptions {
  width: 595px;
  max-height: 440px;
  padding: 0px 0px 5px 10px;
  float: right;
  margin-top: 10px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

.msgOption {
  height: 40px;
  width: 574px;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 240%;
  font-family: 'Open Sans';
  font-weight: 600;
  border: 1px solid #000000;
  list-style-position: inside;
  list-style-type: none;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(227,227,231,1) 100%);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.msgOption:hover {
  width: 554px;
  margin-left: -20px;
  padding-left: 50px;
  font-weight: bold;
}

.announceChild {
  width: 550px;
  height: 30px;
  margin-left: 15px;
  margin-top: 1px;
  padding-left: 10px;
  line-height: 200%;
  font-family: 'Open Sans';
  font-size: 12pt;
  border: 1px solid #000000;
  list-style-position: inside;
  list-style-type: none;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(227,227,231,1) 100%);
  border-radius: 0px;
}

.announceChild2 {
  width: 525px;
  height: 30px;
  margin-left: 40px;
  margin-top: 1px;
  padding-left: 10px;
  line-height: 200%;
  font-family: 'Open Sans';
  font-size: 12pt;
  border: 1px solid #000000;
  list-style-position: inside;
  list-style-type: none;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(227,227,231,1) 100%);
  border-radius: 0px;
}

.announceChild3 {
  width: 515px;
  min-height: 30px;
  margin-left: 40px;
  padding: 10px;
  line-height: 200%;
  font-family: 'Open Sans';
  font-size: 12pt;
  border: 1px solid #000000;
  list-style-position: inside;
  list-style-type: none;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(227,227,231,1) 100%);
  border-radius: 0px 0px 5px 5px;
}

.msgGameOption {
  width: 150px;
  height: 60px;
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(222,222,222,1) 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  font-size: 12pt;
  cursor: pointer;
}

.msgGameOption:hover {
  font-weight: bold;
}

.msgOptionSelected {
  background: linear-gradient(to bottom, rgba(220,246,250,1) 0%,rgba(169,225,239,1) 100%);
}

.msgOptionChild {

}

.postBox {
  float: left;
  width: 600px;
  height: 70px;
  padding: 3px;
  background-color: #f4f5f9;
  border: 1px solid #f4f5f9;
  border-radius: 0px 6px 6px 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
  cursor: text;
  word-wrap: break-word;
}

#postButton {
    color: #8CD790;
    background-color: transparent;
    border: 1px solid #8CD790;
    border-radius: 0 6px 6px 0;
    width: 50px;
    float: right;
    margin-top: 8px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

#postButton:hover {
    color: #fff;
    background-color: #8CD790;
    border: 1px solid #8CD790;
}

#postButton:hover {
    color: #fff;
    background-color: #8CD790;
    border: 1px solid #8CD790;
}

.message-avatar, .message-text, .message-hour, #postButton {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.messageTop {
    width: 100%;
    height: 55px;
}


/*Scrollbar (Not globally compatible)*/

::-webkit-scrollbar {
    width: 9px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #B2B2B2;
    border: 0px none #ffffff;
    border-radius: 50px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.50);
}

::-webkit-scrollbar-thumb:hover {
    background: #A0A0A0;
}

::-webkit-scrollbar-thumb:active {
    background: #8E8E8E;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/*Loader*/

#loaders {
    overflow: hidden;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 365px;
    top: 250px;
    text-align: center;
    font-size: 34pt;
    font-family: 'Open Sans';
    font-style: italic;
}
